<script>
var level = "50";
</script>
<body>
<table class = "table">
  <tr>
    <th> Name </th>
    <th>Email </th>
    <th> Lowest Clicks - L1 </th>
    <th> Lowest Clicks - L2 </th>
    <th> Lowest Clicks - L3 </th>
    <th> Lowest Clicks - L4 </th>
    <th> Roles </th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
<tr id = "tr<%= user.id %>">
<%= render :partial => 'userdet.html.erb', :locals => {:user => user} %>
</tr>
 <% end %>
</table>
</body>